<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="ホーム" icon-off="ion-locked" icon-on="ion-unlocked" href="#/tab/home">
    <ion-nav-view name="main-view"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="お金" icon-off="ion-social-yen" icon-on="ion-social-yen" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="社員" icon-off="ion-person-add" icon-on="ion-person-stalker" href="#/tab/test">
    <ion-nav-view name="tab-test"></ion-nav-view>
  </ion-tab>


</ion-tabs>
