<ion-view view-title="登録">
  <ion-content class="padding">
    <div class="list list-inset">
      <!--<label class="item item-input">-->
        <!--<input ng-model="" type="text" placeholder="Input ID">-->
      <!--</label>-->
      <label class="item item-input">
        <input ng-model="password" type="text" placeholder="Password">
      </label>
    </div>
       <button ng-click="login(password)" class="button button-block button-positive">
      ログイン
    </button>
  </ion-content>
</ion-view>
